/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src:url("../font/fontawesome-webfont.eot") format("eot"),
      url("../font/fontawesome-webfont.svg") format("svg"),
      url("../font/fontawesome-webfont.ttf") format("truetype"),
      url("../font/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/***************reset.css***************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output
,ruby,section,summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display:block
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';content:none
}
table{
    border-collapse:collapse;border-spacing:0
}
body{
    font:14px/1.5  "Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
/************header**************/
.header{
    background-color: #b85977;
    color: #ffffff;
}
.nav{
    position: fixed;
    height: 50px;
    width:100%;
    z-index: 99;
    background-color: #da6565;
}
.header-bg{
    position: fixed;
    width:100%;
    top:50px;
    z-index: 9;
    background-color: #000000;
}
.header-title{
    padding: 4em 0;
    text-align: center;
    line-height: 2em;
    font-size: 150%;
}
.container{
    position: relative;
    top: 280px;
    z-index: 98;
    background-color: #ffffff;
}
.main{
    position: relative;
    width:1024px;
    margin:0 auto;
    padding: 4em 0 2em 0;
}

/************menu**************/
.menu-aside{
    position: relative;
    float:left;
    width: 300px;
}
.menu-aside-fixed{
    position: fixed;
    top: 95px;
}
.menu{
    border: 1px solid #eee;
    border-bottom: none;
    border-radius: 0.2em;
    background-color: #e5b897;
}
.menu .menu-item{
    position: relative;
    text-align: center; 
    border-bottom: 1px solid #ffffff; 
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    transition:background ease 0.3s;
}
.menu .menu-item:hover{
    background-color: bisque;
    color: red;
}
.menu-arrow{
    font-family: FontAwesome;
    position: absolute;
    right: 1em;
    top: 1em;
    animation:arrowUpAnim 0.3s ease 0s both;
}
.menu-arrow:before{
    content: "\f105";
    display: inline-block;
}
.arrow-down{
    animation:arrowDownAnim 0.3s ease 0s both;
}
/*.menu-item-bg{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-color: #000;
    opacity: 0;
    border-radius: 50%;
}
.menu-item.active .menu-item-bg{
    animation:menuAnim 0.3s ease 0s both;
}*/
.menu-name{
    display: inline-block;
    font-size: 1.5em;
    line-height: 2;
    color: inherit;
}
.sub-menu{
    display: none;
}
.sub-menu-item{

}
.sub-menu-name{
    transition:all ease 0.3s;
}
.sub-menu-name:hover{
    padding-left:10px;
}
.active{
    display: block;
    background-color: bisque;
}
.btn{
    background-color: cadetblue;
    line-height: 2;
    border-radius: .2em;
    border: 1px solid #327577;
    color: #ffffff;
    transition: all ease 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: blue;
}
/************content**************/
.content{
    position: relative;
    margin-left: 320px;
}
.section{
    margin-bottom: 2em;
    border: 1px solid #eee;
    background-color: #fbfbfb;
    border-radius: 0.2em;
}
.section-title{
    line-height: 3;
    background-color: #618caf;
    color: #ffffff;
    font-size: 125%;
    padding: 0 1em;
}
.section-main{
    padding: 1em;
}
.section-main .panel{
    margin: 1em 0;
}
.section-main .view{

}
.section-main .code{
    background-color: khaki;
}

/**************animation***************/
@keyframes menuAnim{
    0%{
        transform:scale(0);
    }
    80%{
        transform:scale(2);
    }
    100%{
        opacity: 0;
    }
}
@keyframes arrowUpAnim{
    0%{
        transform:rotate(90deg);
    }
    100%{
        transform:rotate(0);
    }
}
@keyframes arrowDownAnim{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(90deg);
    }
}
